<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>708816340551-84662mm8nuhfnh203425kthvpuoqads5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.708816340551-84662mm8nuhfnh203425kthvpuoqads5</string>
	<key>API_KEY</key>
	<string>AIzaSyBlxvdmbaJfsDXTvQWtuU_SDqGEbvGRW7Y</string>
	<key>GCM_SENDER_ID</key>
	<string>708816340551</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nlampa.beatstreet</string>
	<key>PROJECT_ID</key>
	<string>beatstreet-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>beatstreet-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:708816340551:ios:d332ecae0c9b76e9e55362</string>
	<key>DATABASE_URL</key>
	<string>https://beatstreet-demo.firebaseio.com</string>
</dict>
</plist>